<script id="crime_count" type="x-tmpl-mustache">
	<table class="crime-table table table-striped table-bordered table-hover table-responsive">
		<tr>
			<th>Crime Type</th>
			<th>Count</th>
		</tr>
		{{#crimeTable}}
		<tr>
			<td>{{name}}</td>
			<td>{{count}}</td>
		</tr>
		{{/crimeTable}}
	</table>
</script>
<div class="container intro">
	<h1>CTA Crime Analysis using SODA API</h1>
	<div class="crimeCountWrapper"></div>
	<table class="table table-bordered table-striped table-hover">
		<tbody>
			<tr>
				<th>Date</th>
				<th>Block</th>
				<th>Type</th>
				<th>Detail</th>
				<th>Location</th>
			</tr>
			<% @data.each do |crime| %>
				<tr>
					<td><%= crime['date'] %></td>
					<td><%= crime['block'] %></td>
					<td><%= crime['primary_type'] %></td>
					<td><%= crime['description'] %></td>
					<td><%= crime['location_description'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="svg-container"></div>
</div>
